page {
  color:black;
  // color:black;
  font-size: 20;
  background-color: white;
  // background-image: url("res://bg_inner");
  // background-repeat: no-repeat;
  // background-position: center;
  // background-size: cover;
  button {
    color:black;
    border-width: 5;
    border-color: red;
  }
}
  