page {
  color:white;
  font-size: 20;
  // background-color: black;
  background-image: url("res://bg_inner");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  button {
    color:white;
    border-width: 5;
    border-color: red;
  }
}
  